<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="WeatherEntities" connectionString="metadata=res://*/Models.WeatherAppDataModel.csdl|res://*/Models.WeatherAppDataModel.ssdl|res://*/Models.WeatherAppDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=172.16.214.1;initial catalog=hb222ap_weather;user id=appuser;password=&quot;1Br@Lösen=rd?&quot;;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
